body{
  background-color: #373542
}

.heading {
  color: #a7a5ad;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  vertical-align: text-top;
}

.one {
  width: 100px;
  height: 100px;
  background: url(keyimgs/q.png)
}
.one:hover {
  background: url(keyimgs/some.png)
}
